.stakingMunieAllAmountContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-bottom: 69.998px;
}

.stakingMunieAmountContainer {
    position: absolute;
    top: -31%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #72cef2;
}

.stakingMunieAmountTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stakingMunieAmountTitle a {
    font-size: 30px;
}

.stakingMunieAmountTxt {
    text-shadow: #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px,
        #0a1126 0px 0px 3.998px;
}

.stakingMunieAmountNum {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stakingMunieAmountNum a {
    font-size: 24.997px;
}

// ----------------------- DEPOSIT SECTION ----------------------- //
.stakedMunieCanAmountSection {
    position: absolute;
    top: 1%;
    text-shadow: #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px,
        #0a1126 0px 0px 3.998px;
    color: #72cef2;
    font-size: 15px;
}
.munieStakingCantChoiceImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 75px;
    padding-bottom: 75px;
}

.munieStakingCantChoiceImgSection {
    width: 150px;
    height: 150px;
    background: url("../../../../assets/images/MunieLogoBackX.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    // border: 3px solid black;
    cursor: not-allowed;
}
.cantStakingMunieBtn {
    text-shadow: #24b5ee 0px 0px 1.5px, #24b5ee 0px 0px 1.5px, #24b5ee 0px 0px 1.5px, #24b5ee 0px 0px 1.5px, #24b5ee 0px 0px 1.5px, #24b5ee 0px 0px 1.5px;
    color: #0a1126;
    font-size: 20px;
}

.munieStakingBeforeChoiceImgContainer {
    margin-top: 26px;
}

//  -----------------Deposit Slider Section -------------------- //
// .mainSlider {
//   width: 100%;
// }

.munieSlider {
    // width: 200px;
    // height: 150px;
    // position: relative;
}

.munieStakingImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.munieStakingImgCard {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    // border: 3px solid black;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    position: absolute;
    top: 45px;
    width: auto;
    font-size: 35px;
}

.alice-carousel__prev-btn {
    left: -48%;
}

.alice-carousel__next-btn {
    right: -48%;
}

.munieStakingImgTokenId {
    font-size: 15px;
}

.modalTitleTxt p {
    color: #0a1126;
}

.modalMainContainer p {
    color: #0a1126;
}

.munieStakingImgCard {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    // border: 3px solid black;
}

.alice-carousel__prev-btn {
    text-align: none;
}

.alice-carousel__next-btn {
    text-align: left;
}

/* ------------------- Check Box -------------------*/
.imgCheckBox {
    position: relative;
    top: -40%;
    right: -37%;
    width: 10px;
    height: 10px;
}

.munieStakingImgCard input {
    zoom: 2;
}

.munieStakingChoiceImgSection {
    width: 150px;
    height: 150px;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    // border: 3px solid black;
}

.munieStakingBeforeChoiceImgSection:hover {
    opacity: 0.5;
}

.rewardsClaimMunieBtnSection button {
    height: 50.002px;
}

.munieUnStakeBtnSection button {
    height: 50.002px;
}

.depositMunieStakeBtnSection {
    display: flex;
    justify-content: center;
    padding-top: 11px;
}

.depositMunieStakeBtnSection button {
    height: 50.002px;
}

/* --------------------Can Button -------------------------- */
button.munie-learn-more {
    margin-top: 13px;
    width: 300px;
    font-weight: 600;
    font-family: "SCDream8";
    color: black;
    text-transform: uppercase;
    padding: 1.25em 2em;
    border: 0.104vw solid rgba(0, 0, 0, 0.3);
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.munie-learn-more::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    border-radius: inherit;
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.munie-learn-more:hover {
    background: lightgray;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
}
button.munie-learn-more:hover::before {
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
}
button.munie-learn-more:active {
    background: rgba(255, 255, 255, 0.3);
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
}
button.munie-learn-more:active::before {
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
}

/* --------------------Can't Button -------------------------- */
.cant-munie-learn-more {
    // margin-top: 13px;
    font-weight: 600;
    width: 300px;
    height: 50.002px;
    font-size: 15px;
    font-family: "SCDream8";
    color: black;
    cursor: not-allowed;
    border: 0.104vw solid rgba(0, 0, 0, 0.3);
    border-radius: 0.75em;
}

.cant-munie-com-learn-more {
    font-weight: 600;
    width: 300px;
    height: 50.002px;
    font-size: 15px;
    font-family: "SCDream8";
    color: black;
    cursor: not-allowed;
    border: 0.104vw solid rgba(0, 0, 0, 0.3);
    border-radius: 0.75em;
}
