// ------------------ Rewards  ------------------ //
.allTokenSprRewardsContainer {
    // position: relative;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, 0%);
    // width: 100vh;
}

.allRewardsSPRV2CumulativeSection {
    display: flex;
    color: black;
    justify-content: center;
    margin-top: 52px;
}

.allRewardsSPRV2CumulativeSection p {
    font-size: 20.002px;
    margin-right: 10.005px;
}
.allRewardsSprCumulativeSection {
    display: flex;
    color: black;
    justify-content: center;
    margin-top: 20px;
}

.allRewardsSprCumulativeSection p {
    font-size: 20.002px;
    margin-right: 10.005px;
}

.allRefreshSprClaimIcon {
    cursor: pointer;
}

.amountTokenSprRewardAccSection {
    display: flex;
    // position: relative;
    // width: 100vh;
    // margin-right: -99.998px;
    justify-content: center;
}
.amountTokenRewardSection p {
    font-size: 20.002px;
}

.amountTokenSprRewardAccSection P {
    font-size: 20.002px;
}

.amountTokenRewardSprTxtSection {
    display: flex;
    justify-content: center;
}

.amountTokenRewardSprTxtSection p {
    font-size: 20.002px;
}

.rewardsClaimSprBtnSection {
    margin-top: 13px;
    display: flex;
    justify-content: center;
}

// ------------------- Reward Logo Section ---------------//
.logoRewardContainer {
    display: flex;
    justify-content: flex-end;
    // justify-content: right;
    // margin-left: 40px;
    margin-right: 39.998px;
}

.opIcon {
    width: 30px;
    height: 30px;
    margin-right: 20.002px;
    cursor: pointer;
}

.arrakisIcon {
    width: 30px;
    height: 30px;
    margin-right: 20.002px;
    cursor: pointer;
}

.hanIcon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
