// ----------------------- WITHDRAW SECTION ----------------------- //
.rakis6-AirDrop-Withdraw-Quaota-Section {
    position: absolute;
    top: -9%;
    left: 2%;
    text-shadow: #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px,
        #0a1126 0px 0px 3.998px;
    color: #72cef2;
    font-size: 16px;
}

.rakis6-AirDrop-Withdraw-StakeAmount-Section {
    position: absolute;
    top: -3%;
    left: 2%;
    text-shadow: #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px,
        #0a1126 0px 0px 3.998px;
    color: #72cef2;
    font-size: 16px;
}

.rakis6-AirDrop-Withdraw-APR-Container {
    position: absolute;
    color: #72cef2;
    left: 50%;
    top: -30%;
    transform: translate(-50%, -50%);
}

.rakis6-AirDrop-Withdraw-APR-Title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px,
        #0a1126 0px 0px 3.998px;
}

.rakis6-AirDrop-Withdraw-APR-Title a {
    font-size: 30px;
}

.rakis6-AirDrop-Withdraw-APR-Info {
    display: flex;
    align-items: center;
    padding-left: 5px;
    justify-content: center;
    text-shadow: #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px,
        #0a1126 0px 0px 3.998px;
}

.rakis6-AirDrop-Withdraw-APR-Info a {
    font-size: 24.997px;
}

.rakis6-AirDrop-Withdraw-AmountSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 81.998px;
    margin-bottom: 31px;
    color: black;
}

.rakis6-AirDrop-Withdraw-AmountSection input {
    font-family: "SCDream8";
    width: 220.003px;
    height: 50.002px;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 15px;
    text-align: center;
    border-radius: 1.5rem;
    padding-left: 20.002px;
    padding-right: 20.002px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.rakis6-AirDrop-Withdraw-AmountSection input::-webkit-outer-spin-button,
.rakis6-AirDrop-Withdraw-AmountSection input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.rakis6-AirDrop-Withdraw-AmountSection input:focus {
    outline: none;
}

.rakis6-AirDrop-Withdraw-AmountSection input::placeholder {
    text-align: center;
    color: black;
    opacity: 0.5;
}
.rakis6-AirDrop-Withdraw-AmountSection p {
    font-size: 20.002px;
    color: black;
    margin-left: 24.997px;
    margin-right: 15px;
}

.rakis6-AirDrop-Withdraw-AmountMaxBtn {
    font-family: "SCDream8";
    background-color: transparent;
    margin-left: 9.998px;
    width: 60px;
    height: 54.998px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 1.5em;
    cursor: pointer;
    /* color: #72CEF2; */
    font-size: 20px;
    text-shadow: #24b5ee 0px 0px 1px, #24b5ee 0px 0px 1px, #24b5ee 0px 0px 1px, #24b5ee 0px 0px 1px, #24b5ee 0px 0px 1px, #24b5ee 0px 0px 1px;
    color: #0f1b40;
}

.rakis6-AirDrop-Select-Token-Btn {
    display: flex;
    // justify-content: flex-end;
    background-color: #39a2db;
    align-items: center;
    border: 0.104vw solid rgba(0, 0, 0, 0.3);
    border-radius: 0.75em;
    font-family: "SCDream8";
    font-size: 15px;
    // color: #39a2db;
    color: black;
    cursor: pointer;
}

.rakis6-AirDrop-Select-Token-Btn:hover {
    opacity: 0.5;
}

.rakis6-AirDrop-Select-Token-Icon {
    margin-left: 5px;
    color: red;
}

.rakis6-AirDrop-WithDraw-TimeContainer {
    display: flex;
    font-size: 14px;
    flex-direction: column;
    padding-top: 27px;
}

.rakis6-AirDrop-WithDraw-TimeTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rakis6-AirDrop-WithDraw-TimeSection {
    // margin-top: 7px;
    font-size: 14px;
}
.rakis6-AirDrop-WithDraw-TimeSection a {
    color: #47fac2;
}

.rakis6DayDate {
    margin-right: 10px;
}

.rakis6HoursDate {
    margin-right: 10px;
}

.rakis6MinDate {
    margin-right: 10px;
}

.rakis6-AirDrop-WithDraw-ReFreshIcon {
    cursor: pointer;
}

.rakis6-AirDrop-WithDraw-CantReFreshIcon {
    cursor: not-allowed;
}
.rakis6-AirDrop-WithDraw-BtnContainer {
    display: flex;
    justify-content: center;
}

.rakis6-AirDrop-WithDraw-BtnContainer button {
    height: 50.002px;
}

.unStakeCantBtnSection {
    margin-top: 61px;
}

// .rakis6-AirDrop-Withdraw-Can-BtnSection {
//     padding-top: 7px;
//     margin-bottom: 10px;
// }

.unStakeCantTxt {
    font-size: 35px;
}

.rakis6-AirDrop-Withdraw-SelectBtn {
    font-weight: 600;
    width: 300px;
    font-family: "SCDream8";
    color: black;
    border: 0.104vw solid rgba(0, 0, 0, 0.3);
    border-radius: 0.75em;
    cursor: not-allowed;
}

button.rakis6-AirDrop-Withdraw-CanBtn {
    width: 300px;
    font-weight: 600;
    font-family: "SCDream8";
    color: black;
    text-transform: uppercase;
    padding: 1.25em 2em;
    border: 0.104vw solid rgba(0, 0, 0, 0.3);
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.rakis6-AirDrop-Withdraw-CanBtn::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    border-radius: inherit;
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.rakis6-AirDrop-Withdraw-CanBtn:hover {
    background: lightgray;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
}
button.rakis6-AirDrop-Withdraw-CanBtn:hover::before {
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
}
button.rakis6-AirDrop-Withdraw-CanBtn:active {
    background: rgba(255, 255, 255, 0.3);
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
}
button.rakis6-AirDrop-Withdraw-CanBtn:active::before {
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
}
