.usdcHanEpPageLogoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.usdcHanEpPageLogoContainer a {
    text-shadow: #24b5ee 0px 0px 3.998px, #24b5ee 0px 0px 3.998px, #24b5ee 0px 0px 3.998px, #24b5ee 0px 0px 3.998px, #24b5ee 0px 0px 3.998px,
        #24b5ee 0px 0px 3.998px;
    color: #0a1126;
    margin-left: 20.002px;
    padding-right: 60px;
    font-size: 60px;
    margin-top: 40px;
}

.usdcHanEpLogo {
    width: 99.998px;
    margin-top: 40px;
    height: 99.998px;
    filter: drop-shadow(5.003px 9.998px 9.998px #24b5ee);
}

.usdcHanEpAllAmountContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

.usdcHanEpAprAmountContainer {
    text-shadow: #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px,
        #0a1126 0px 0px 3.998px;
    color: #72cef2;
}

.usdcHanEpAprAmountTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.usdcHanEpAprAmountTitle a {
    font-size: 30px;
}

.usdcHanEpAprAmountNum {
    display: flex;
    align-items: center;
    justify-content: center;
}

.usdcHanEpAprAmountNum a {
    font-size: 24.997px;
}

.usdcHanEpAmountContainer {
    color: #72cef2;
}

.usdcHanEpAmountTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.usdcHanEpAprAmountTxt {
    text-shadow: #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px,
        #0a1126 0px 0px 3.998px;
}
