.hanStakingPageLogoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hanStakingPageLogoContainer a {
    text-shadow: #24b5ee 0px 0px 3.998px, #24b5ee 0px 0px 3.998px, #24b5ee 0px 0px 3.998px, #24b5ee 0px 0px 3.998px, #24b5ee 0px 0px 3.998px,
        #24b5ee 0px 0px 3.998px;
    color: #0a1126;
    margin-left: 20.002px;
    padding-right: 60px;
    font-size: 60px;
    margin-top: 40px;
}

.hanStakingLogo {
    width: 99.998px;
    margin-top: 40px;
    height: 99.998px;
    filter: drop-shadow(5.003px 9.998px 9.998px #24b5ee);
}

.hanStakingAllAmountContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

.hanStakingAprAmountContainer {
    text-shadow: #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px,
        #0a1126 0px 0px 3.998px;
    color: #72cef2;
}

.hanStakingAprAmountTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hanStakingAprAmountTitle a {
    font-size: 30px;
}

.hanStakingAprAmountNum {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hanStakingAprAmountNum a {
    font-size: 24.997px;
}

.stakingAprAmountContainer {
    color: #72cef2;
}

.stakingAprAmountTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hanStakingAprAmountTxt {
    text-shadow: #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px, #0a1126 0px 0px 3.998px,
        #0a1126 0px 0px 3.998px;
}
