.mainPageTestContainer {
    font-weight: 400;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(../assets/images/mainImg/MainBG.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    font-weight: bold;
}

.mainPageTopPaddingSection {
    padding-top: 100px;
}

.mainPageLogoTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    font-size: 65px;
    border-left: 5px solid #0a93eb;
    padding-left: 15px;
    margin-left: 50px;
}

.mainPageLogoSection img {
    width: 80px;
    height: 80px;
}

.mainPageTitleTxtSection {
    color: #fff;
    font-size: 50px;
}

// ------------------- HanChainPrice Container ------------------- //
.hanChainPriceContainer {
    position: absolute;
    width: 200px;
    height: 120px;
    right: 4%;
    top: 6%;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
}

.hanChainPriceSection {
    width: 100%;
    height: 56px;
    display: flex;
    display: flex;
    padding: 12px 0px;
    border-radius: 1rem;
}

.hanChainPriceLogoSection {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hanChainPricTextSection {
    width: 100%;
    border: none;
    align-items: center;
    text-align: center;
    line-height: 1.4;
}

.hanChainPriceLogoSection img {
    width: 46px;
    height: 46px;
}

.test2 {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #e1e5ea;
    text-align: center;
    clear: both;
    font-size: 12px;
}

.test2 a {
    text-decoration: none;
    color: rgb(16, 112, 224);
}

.hanChainPriceTitleSection {
    font-size: 18px;
}

.hanChainPriceTitleSection a {
    text-decoration-line: none;
    color: rgb(16, 112, 224);
}
.hanChainPriceAmountSection {
    font-size: 20px;
    margin-left: 6px;
}

.hanChainPriceUnitSection {
    font-size: 14px;
    margin-left: 6px;
}

.hanChainPrice24hPercentageInSection {
    font-size: 16px;
    margin-left: 10px;
    color: #009e73;
}

.hanChainPrice24HPercentageDeSection {
    font-size: 16px;
    margin-left: 10px;
    color: #d94040;
}

// -------------------AirDrop Section ------------------- //
.airDropSection {
    position: absolute;
    right: 4%;
    top: 23%;
    height: 50px;
    border-radius: 10px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.airDropSection a {
    text-decoration-line: none;
}

.airDropTxt1 {
    color: rgb(16, 112, 224);
}
.airDropTxt2 {
    color: black;
    margin-left: 5px;
}

// ------------------- StakingPool Container ------------------- //

.mainPageStakingPoolContainer {
    display: flex;
    margin-top: 90px;
    justify-content: center;
}

// ------------------- ARRAKIS SHEEPOORI Container ------------------- //
.mainPageStakingContainer {
    position: relative;
    margin-right: 30px;
}

.mainPageStakingTitleSection {
    font-size: 25px;
    color: #fff;
    position: absolute;
    top: -15%;
    left: 2%;
}

.mainPageStakingBoxSection {
    padding-top: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 630px;
    height: 350px;
    box-sizing: border-box;
}

// ------------------- HanEpLP SECTION ------------------- //
.stakingBoxHanepSection {
    width: 95%;
    height: 80px;
    display: flex;
    align-items: center;
}

.stakingBoxHanepLogoSection img {
    width: 70px;
    height: 70px;
}
.stakingBoxHanepTxtSection {
    color: #fff;
    margin-left: 10px;
    font-size: 28px;
}

.stakingBoxHanepBtnSection {
    padding-left: 5.5%;
}

.stakingBoxHanepBtnSection a {
    color: #fff;
    width: 99.994px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 9.994px;
    text-align: center;
    padding: 20.002px 0;
    font-size: 15.998px;
    display: block;
    text-decoration: none;
}

.material-main-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    color: white;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    -moz-osx-font-smoothing: grayscale;

    font-feature-settings: "liga";
}

.material-Hanep-main-icons:hover {
    opacity: 0.4;
}

.tooltip-Hanep-main-container {
    position: relative;
    padding-top: 5px;
    font-size: 13px;
    font-family: sans-serif;
    &:hover {
        .tooltip-Hanep-main-content {
            visibility: visible;
            opacity: 1;
            transition: 0.25s all ease;
            transition-delay: 0s;
            top: -200px;
            left: -20%;
            width: 300px;
            height: 150px;
            font-size: 13px;
        }
    }
}
.tooltip-Hanep-main-content {
    font-family: sans-serif;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: #646fd4;
    display: flex;
    flex-direction: column;
    left: 100px;
    top: -300px;
    padding: 0 15px;
    margin: 10px;
    font-size: 15px;
    width: 250px;
    transition: 0.25s all ease;
    transition-delay: 0.25s;
    z-index: 2;
    font-size: 13px;
    color: #ffffff;

    .tooltip-Hanep-main-content a {
        text-decoration: underline;
    }

    .align-Hanep-main-right {
        text-decoration: underline;
        color: yellow;
    }

    &:after {
    }
}

// ------------------- ARRAKIS SECTION ------------------- //
.stakingBoxArrakisSection {
    width: 95%;
    height: 80px;
    display: flex;
    align-items: center;
}

.stakingBoxArrakisLogoSection img {
    width: 70px;
    height: 70px;
}
.stakingBoxArrakisTxtSection {
    color: #fff;
    margin-left: 10px;
    font-size: 28px;
}

.stakingBoxArrakisBtnSection {
    padding-left: 3.5%;
}

.stakingBoxArrakisBtnSection a {
    color: #fff;
    width: 99.994px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 9.994px;
    text-align: center;
    padding: 20.002px 0;
    font-size: 15.998px;
    display: block;
    text-decoration: none;
}

.material-main-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    color: white;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: "liga";
}

.material-rakis6-main-icons:hover {
    opacity: 0.4;
}

.tooltip-rakis6-main-container {
    position: relative;
    padding-top: 5px;
    font-size: 13px;
    font-family: sans-serif;
    &:hover {
        .tooltip-rakis6-main-content {
            visibility: visible;
            opacity: 1;
            transition: 0.25s all ease;
            transition-delay: 0s;
            top: -200px;
            left: -20%;
            // right: 200px;

            width: 300px;
            height: 150px;
            font-size: 13px;
        }
    }
}
.tooltip-rakis6-main-content {
    font-family: sans-serif;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: #646fd4;
    display: flex;
    flex-direction: column;
    left: 100px;
    top: -300px;
    padding: 0 15px;
    margin: 10px;
    font-size: 15px;
    width: 250px;
    transition: 0.25s all ease;
    transition-delay: 0.25s;
    z-index: 2;
    font-size: 13px;
    color: #ffffff;

    .tooltip-rakis6-main-content a {
        text-decoration: underline;
    }

    .align-rakis6-main-right {
        text-decoration: underline;
        color: yellow;
    }
    //   .align-main-right {
    //     text-align: left;
    //     a {
    //       font-size: 13px;

    //       color: yellow;
    //       text-decoration: none;
    //       &:hover {
    //         text-decoration: underline;
    //       }
    //     }
    //   }
    &:after {
    }
}
//12312412
// ------------------- SHEEPOORI SECTION ------------------- //

.stakingBoxSpriSection {
    width: 95%;
    height: 80px;
    display: flex;
    align-items: center;
    // background-color: red;
}

.stakingBoxSpriLogoSection img {
    width: 70px;
    height: 70px;
}
.stakingBoxSpriTxtSection {
    color: #fff;
    // margin: 0 2.5% 0 10px;
    margin-left: 10px;
    font-size: 28px;
}

.stakingBoxSpriBtnSection {
    padding-left: 17%;
}

.stakingBoxSpriBtnSection a {
    color: #fff;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    display: block;
    text-decoration: none;
}

.material-main-spri-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    color: white;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
}
.material-main-spri-icons:hover {
    opacity: 0.4;
}

.tooltip-main-spri-container {
    position: relative;
    padding-top: 5px;
    font-size: 13px;
    font-family: sans-serif;
    &:hover {
        .tooltip-main-spri-content {
            visibility: visible;
            opacity: 1;
            transition: 0.25s all ease;
            transition-delay: 0s;
            top: -110px;
            left: -20%;
            width: 300px;
            height: 100px;
            font-size: 13px;
        }
    }
}
.tooltip-main-spri-content {
    font-family: sans-serif;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: #646fd4;
    display: flex;
    flex-direction: column;
    left: 100px;
    top: -300px;
    padding: 0 15px;
    margin: 10px;
    font-size: 15px;
    width: 250px;
    transition: 0.25s all ease;
    transition-delay: 0.25s;
    z-index: 2;
    font-size: 13px;
    color: #ffffff;

    .tooltip-main-spri-content a {
        text-decoration: underline;
    }

    .align-main-spri-right {
        text-decoration: underline;
        color: yellow;
    }
    &:after {
    }
}

// ------------------- HANCHAIN STAKING SECTION ------------------- //

.stakingBoxHanSection {
    width: 95%;
    height: 80px;
    display: flex;
    align-items: center;
}

.stakingBoxHanLogoSection img {
    width: 70px;
    height: 70px;
}
.stakingBoxHanTxtSection {
    color: #fff;
    margin-left: 10px;
    font-size: 28px;
}

.stakingBoxHanBtnSection {
    padding-left: 36.5%;
}

.stakingBoxHanBtnSection a {
    color: #fff;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    display: block;
    text-decoration: none;
}

.material-main-han-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    color: white;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
}
.material-main-han-icons:hover {
    opacity: 0.4;
}

.tooltip-main-han-container {
    position: relative;
    padding-top: 5px;
    font-size: 13px;
    font-family: sans-serif;
    &:hover {
        .tooltip-main-han-content {
            visibility: visible;
            opacity: 1;
            transition: 0.25s all ease;
            transition-delay: 0s;
            top: -110px;
            left: -20%;
            width: 300px;
            height: 100px;
            font-size: 13px;
        }
    }
}
.tooltip-main-han-content {
    font-family: sans-serif;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: #646fd4;
    display: flex;
    flex-direction: column;
    left: 100px;
    top: -300px;
    padding: 0 15px;
    margin: 10px;
    font-size: 15px;
    width: 250px;
    transition: 0.25s all ease;
    transition-delay: 0.25s;
    z-index: 2;
    font-size: 13px;
    color: #ffffff;

    .tooltip-main-han-content a {
        text-decoration: underline;
    }

    .align-main-han-right {
        text-decoration: underline;
        color: yellow;
    }
    &:after {
    }
}

// ------------------- POOL Container ------------------- //

.mainPagePoolContainer {
    position: relative;
    margin-left: 30px;
}

.mainPagePoolTitleSection {
    font-size: 25px;
    color: #fff;
    position: absolute;
    top: -15%;
    left: 2%;
}

.mainPagePoolBoxSection {
    padding-top: 3%;
    padding-left: 5%;
    padding-bottom: 3%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 630px;
    height: 430px;
    box-sizing: border-box;
}
// ------------------- POOL USDC-V2-HANep Section ------------------- //

.poolBoxHanEpSection {
    width: 95%;
    height: 80px;
    display: flex;
    align-items: center;
}

.poolBoxHanEpLogoSection img {
    width: 70px;
    height: 70px;
}
.poolBoxHanEpTxtSection {
    color: #fff;
    margin: 0 2.5% 0 10px;
    font-size: 28px;
}

.poolBoxHanEpBtnSection {
    padding-left: 25%;
}

.poolBoxHanEpBtnSection a {
    color: #fff;
    width: 99.994px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 9.994px;
    text-align: center;
    padding: 20.002px 0;
    font-size: 15.998px;
    display: block;
    text-decoration: none;
}

// ------------------- POOL WETH Section ------------------- //

.poolBoxWethSection {
    width: 95%;
    height: 80px;
    display: flex;
    align-items: center;
}

.poolBoxWethLogoSection img {
    width: 70px;
    height: 70px;
}
.poolBoxWethTxtSection {
    color: #fff;
    margin: 0 2.5% 0 10px;
    font-size: 32px;
}

.poolBoxWethBtnSection {
    padding-left: 25%;
}

.poolBoxWethBtnSection a {
    color: #fff;
    width: 99.994px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 9.994px;
    text-align: center;
    padding: 20.002px 0;
    font-size: 15.998px;
    display: block;
    text-decoration: none;
}

// ------------------- POOL USDC Section ------------------- //

.poolBoxUsdcSection {
    width: 95%;
    height: 80px;
    display: flex;
    align-items: center;
}

.poolBoxUsdcLogoSection img {
    width: 70px;
    height: 70px;
}
.poolBoxUsdcTxtSection {
    color: #fff;
    margin: 0 2.5% 0 10px;
    font-size: 32px;
}

.poolBoxUsdcBtnSection {
    padding-left: 26%;
}

.poolBoxUsdcBtnSection a {
    color: #fff;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    display: block;
    text-decoration: none;
}

// ------------------- POOL SHEEPOORI Section ------------------- //
.poolBoxSpriSection {
    width: 95%;
    height: 80px;
    display: flex;
    align-items: center;
}

.poolBoxSpriLogoSection img {
    width: 70px;
    height: 70px;
}
.poolBoxSpriTxtSection {
    color: #fff;
    margin: 0 2.5% 0 10px;
    font-size: 32px;
}

.poolBoxSpriBtnSection {
    padding-left: 13%;
}

.poolBoxSpriBtnSection a {
    color: #fff;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    display: block;
    text-decoration: none;
}

// ------------------- POOL MUNIE Section ------------------- //
.poolBoxMunieSection {
    width: 95%;
    height: 80px;
    display: flex;
    align-items: center;
}

.poolBoxMunieLogoSection img {
    width: 70px;
    height: 70px;
}
.poolBoxMunieTxtSection {
    color: #fff;
    margin: 0 2.5% 0 10px;
    font-size: 32px;
}

.poolBoxMunieBtnSection {
    padding-left: 35.5%;
}

.poolBoxMunieBtnSection a {
    color: #fff;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    display: block;
    text-decoration: none;
}

// ------------------- Footer Container ------------------- //

.mainPageFooterContainer {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    align-items: center;
    justify-content: flex-end;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.home-eth {
    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10%;
    justify-content: center;
}

.eth-box {
    margin-right: 4%;
    position: relative;
}

.eth-txt {
    position: absolute;
    font-size: 25px;
    top: -30%;
}

.home-eth #pool .home-2:first-child {
    margin-bottom: 3%;
}

.home-2 {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.home-2Spr {
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

/*-------------------------*/
.home-footer-logo {
    display: flex;
    flex-wrap: wrap;
}

.home-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 30px 20px 0;
}

.home-footer .logoimg {
    align-self: center;
    opacity: 0.6;
    margin-left: 8px;
}

.home-footer .logoimg a img {
    width: 30px;
}

.home-footer .logoimg:hover {
    opacity: 1;
    transition-duration: 0.5s;
}

.ether {
    margin-right: 10px;
    color: #212529;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 2px 8px;
}

.ether .ether_txt {
    width: 80px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ether .ether_copy {
    cursor: pointer;
}

.tooltip {
    cursor: pointer;
}

.tooltip,
.tooltip2 {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tooltip2 .tooltiptext2 {
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 0;
    margin-left: -20px;
    opacity: 0;
    transition: opacity 0.3s;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext,
.tooltip2:hover .tooltiptext2 {
    visibility: visible;
    opacity: 1;
}

#metamask_txt {
    font-weight: normal;
}

.material-main-spr-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    color: white;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
}
.material-main-spr-icons:hover {
    opacity: 0.4;
}

.tooltip-main-spr-container {
    margin-right: 10px;
    position: relative;
    font-size: 13px;
    font-family: sans-serif;
    &:hover {
        .tooltip-main-spr-content {
            visibility: visible;
            opacity: 1;
            transition: 0.25s all ease;
            transition-delay: 0s;
            top: -110px;
            left: -20%;
            width: 300px;
            height: 100px;
            font-size: 13px;
        }
    }
}
.tooltip-main-spr-content {
    font-family: sans-serif;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: #646fd4;
    display: flex;
    flex-direction: column;
    left: 100px;
    top: -300px;
    padding: 0 15px;
    margin: 10px;
    font-size: 15px;
    width: 250px;
    transition: 0.25s all ease;
    transition-delay: 0.25s;
    z-index: 2;
    font-size: 13px;
    color: #ffffff;

    .tooltip-main-spr-content a {
        text-decoration: underline;
    }

    .align-main-spr-right {
        text-decoration: underline;
        color: yellow;
    }
    &:after {
    }
}
